nav {
  padding: 10px;
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: var(--container-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
:root {
  --bg-color: #f6f8fa;
  --text-color: #333;
  --container-bg: #ffffff;
  --nav-bg: #007bff;
  --link-color: #ffffff;
  --input-bg: #ffffff;
  --input-border: #ccc;
  --input-text: #000;
  --button-bg: #007bff;
  --button-text: #ffffff;
  --button-hover-bg: #0056b3;
  --avatar-bg: #8ab4f8;   
  --avatar-text: #000000;   
  
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #eeeeee;
  --container-bg: #1e1e1e;
  --nav-bg: #333333;
  --link-color: #ffffff;
  --input-bg: #2a2a2a;
  --input-border: #555;
  --input-text: #ffffff;
  --button-bg: #444;
  --button-text: #fff;
  --button-hover-bg: #666;
  --avatar-bg: #0b4d99;   
  --avatar-text: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
